doctype 5
html
  head
    title CodeDay
    link(href="main.css", type="text/css", rel="stylesheet")
    meta(name="viewport", content="initial-scale=1;")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/routes.js")
    script(src="/controllers.js")
  body
    header
      h1
        img(src="logo.png")
      nav
        a(href="/") Home
        a(href="/about") About
    != yield
    footer
      | Copyright © 2011-2014 StudentRND. All rights reserved.
