doctype 5
html
  head
    title CodeDay
    link(href="main.css", type="text/css", rel="stylesheet")
    meta(name="viewport", content="initial-scale=1;")
    script(src="main.js")
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
  body
    header
      h1
        img(src="img/logo.png")
      nav
        a(href="/") Home
        a(href="/about") About
    != yield
    footer
      | Copyright © 2011-2014 StudentRND. All rights reserved.
